<html>
<head>
<title>Chat with socket.io</title>
<style rel="stylesheets" type="text/css" href='/stylesheets/style.css'></style>
</head>
<body>
<!-- VEEEERY BASIC FRONT END FOR NOW... -->
<div id='chart'></div>
<div id ='chat'></div> 
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.12/d3.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="/javascripts/sna_example.js"></script>
</body>
</html>