body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#chat {
height: 500px;
}

.link {
  stroke-width:8px;
}

.node text {
cursor:pointer;
}

.node circle{
stroke:#fff;
}

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    /* padding-bottom: 100%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}
.svg-content-responsive {
    display: inline-block;
    top: 10px;
    left: 0;
    height:100%;
    width: 100%;
}

p.mcount {
	font-size: 400%;
	margin-top: -20px;
}

.line{
  fill: none;
  stroke: #000;
}

.toprow {
	height: 80%;
}

.bottomrow {
	height: 20%;
}